<h1 class="emphasis">You've Invited People To</h1>
<table class="shadow" id="proposals_list">
  <tr>
    <th>Deal</th>
    <th>Scheduled for</th>
    <th>Minimum companions</th>
    <th>Tipped?</th>
  </tr>

<% @my_proposals.each do |proposal| %>
  <tr>
    <td><%= link_to proposal.announcement_title, proposal_path(proposal) %></td>
    <td><%= if proposal.proposed_datetime then proposal.proposed_datetime.strftime("%m/%d/%Y @ %l:%M %P") else "" end%></td>
    <td><%= proposal.min_companions %></td>
    <td><%= proposal.tipped %></td>
  </tr>
<% end %>
</table>

<h1 class="emphasis">You've Been Invited To</h1>

<table class="shadow" id="proposals_list">
  <tr>
    <th>Deal</th>
    <th>Scheduled for</th>
    <th>Minimum companions</th>
    <th>Tipped?</th>
  </tr>

<% @friends_proposals.each do |proposal| %>
  <tr>
    <td><%= link_to proposal.announcement_title, proposal_path(proposal) %></td>
    <td><%= if proposal.proposed_datetime then proposal.proposed_datetime.strftime("%m/%d/%Y @ %l:%M %P") else "" end%></td>
    <td><%= proposal.min_companions %></td>
    <td><%= proposal.tipped %></td>
  </tr>
<% end %>
</table>
