<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
  <title>Deals with Friends</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

	<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	
	<%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application" %>
	<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "application" %>
	

</head>
<body>
	<div id="fb-root"></div>
	<script>
		window.fbAsyncInit = function() {
			FB.init({
				appId      : '305028186196668',
				status     : true, 
				cookie     : true,
				xfbml      : true,
				oauth      : true,
			});
			FB.getLoginStatus(function(response) {
			  if (response.status === 'connected') {
					var facebook_access_token = response.authResponse.accessToken;
					var facebook_user_id = response.authResponse.userID;
					$.ajax({
						url: '/facebook_auth_response_callback/data',
						data: { facebook_access_token: facebook_access_token, facebook_user_id: facebook_user_id }
					});
					$("div.link_to_proposals").show();
			  }	else if (response.status === 'not_authorized') {
					$.ajax({
						url: '/facebook_auth_response_callback/data',
						data: { unknown: "1"}
					});
			    $("div.facebook_login").show();
				}
				else {
					$.ajax({
						url: '/facebook_auth_response_callback/data',
						data: { unknown: "1"}
					});
			    $("div.facebook_login").show();
			  }
			});
		};
		(function(d){
	     var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
	     js = d.createElement('script'); js.id = id; js.async = true;
	     js.src = "//connect.facebook.net/en_US/all.js";
	     d.getElementsByTagName('head')[0].appendChild(js);
	   }(document));
	</script>
	
	<div id="all_content" style="width: 960px; margin: auto;">
		<div class="link_to_proposals" style="float: right; display: none;">
			<a href="/proposals"><%= image_tag("invitations_button.png") %></a>
		</div>
		<div style="margin: 20px 0 20px 40px;">
			<a href="/main/deals"><%= image_tag("logo.png") %></a>

			<div class="facebook_login" style="display: none; float: right; margin-right: 45px; margin-top: 20px">
				<div class="fb-login-button" data-scope="email,create_event">
			    Connect to Facebook
			  </div>
			</div>	
			<script src="http://connect.facebook.net/en_US/all.js">
			</script>
			<script>
				FB.init({
					appId: '305028186196668',
					cookie: true,
					status: true,
					xfbml: true,	
					oauth      : true,
				});
				FB.Event.subscribe('auth.login', function () {
					$("div.facebook_login").fadeToggle("10000");
					$("div.link_to_proposals").fadeToggle("10000");
					FB.getLoginStatus(function(response) {
					  if (response.authResponse) {
							var facebook_access_token = response.authResponse.accessToken;
							var facebook_user_id = response.authResponse.userID;
							$.ajax({
								url: '/facebook_auth_response_callback/data',
								data: { facebook_access_token: facebook_access_token, facebook_user_id: facebook_user_id}
							});
					  } else {
							$.ajax({
								url: '/facebook_auth_response_callback/data',
								data: { unknown: "1"}
							});
					    $("div.facebook_login").show();
					  }
					});				
				
				});
			</script>
		</div>
	
		<%= yield %>
	
	</div>
</body>
</html>
